<table class="table table-hover">
  <thead>
  <tr>
    <th>Brewery</th>
    <th>Founded in</th>
    <th>Average</th>
  </tr>
  </thead>
  <tbody>
  <% top_breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery_path(brewery) %></td>
        <td><%= brewery.year %></td>
        <td><%= brewery.average_rating.round(1) %></td>
      </tr>
  <% end %>
  </tbody>
</table>